body {
    font-family: Poppins, sans-serif;
    margin: 0;
    align-self: left;
    align-items: left;
    align-content: left;
    text-align: left;
}

header {
    background-color: #283618;
    color: #FEFAE0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 73px;
}

header h1 {
    margin-right: 80px;
    font-weight:bold;
    font-family: poppins;
}

.return-button {
    background-color: #FEFAE0;
    color: #283618;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.product {
    display: flex;
    align-items: center;
    margin: 80px 0;
    margin-top: 2%;
    margin-bottom: 2%;
}

.product img {
    max-width: 300px;
    margin-right: 60px;
    margin-left: 5%;
    border-radius: 15px;
}

.quantity-button {
    background-color: #d8a53f;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.quantity-button:hover {
    background-color: #d8a53f;
}

.review-button {
    background-color: #606C38;
    color: #FEFAE0;
    border: none;
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 10px;
}

.review-button:hover {
    background-color: #d8a53f;
    transform: scale(1.05);
}

.next-button {
    background-color: #283618;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 10px;
    margin-left: 5%;
}

.next-button:hover {
    background-color: #606C38;
    transform: scale(1.1);
}

.prev-button {
    background-color: #d8a53f;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 10px;
}

.prev-button:hover {
    background-color: #606C38;
    transform: scale(1.1);
}

.home-button {
    background-color: #283618;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 10px;
    text-decoration: none;
}

.home-button:hover {
    background-color: #606C38;
}

.control-button {
    background-color: #a5a5a5;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}

.control-button:hover {
    background-color: rgb(107, 107, 107);
    transform: scale(1.05);
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 75px;
}

.quantity-number {
    font-size: 18px;
    margin: 0 10px;
}

.horizontal-line {
    border-top: 1px solid #9c9c9c; 
    margin: 0px 0;
}

.form-group {
    width: 50%;
    margin-bottom: 1px;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
}

.form-group label {
    font-size: 14px;
    display: block;
    font-weight:bold;
    margin-bottom: 1px;
    padding-left: 20px;
}

.form-group input {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    border: 2px solid #cecece;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 30px;
}

.form-group span.hint {
    font-size: 12px;
    color: #9b9b9b;
    display: block;
    margin-top: 5px;
}

.progress-tracker {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    padding: 1px;
    margin-left: 300px;
    margin-right: 300px;
    position: relative;
}

.step {
    padding: 12px;
    border: 2px solid #606C38;
    border-radius: 25px;
    background-color: #FEFAE0;
    font-weight: bold;
    color: #606C38;
    position: relative;
}

.step:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 4px;
    width: calc(100% + 1px); 
    background-color: #606C38;
    top: 50%;
    left: 200%;
    transform: translate(-100%, -1px); 
}

.step-active {
    padding: 12px;
    border: 2px solid #606C38;
    border-radius: 25px;
    background-color: #459649;
    font-weight: bold;
    color: #ffffff;
    position: relative;
}

.step-active:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 4px;
    width: calc(100% + 1px); 
    background-color: #606C38;
    top: 50%;
    left: 200%;
    transform: translate(-100%, -1px); 
}
