header {
    background-color: #283618;
    color: #FEFAE0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}

header h1 {
    margin: 60;
    font-weight:bold;
    font-family: poppins;
}

.return-button {
    background-color: #FEFAE0;
    color: #283618;
    border: none;
    padding: 8px 16px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.search-bar {
    margin: 20px 20px;
}

.search-bar input {
    width: 100%;
    padding: 15px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.order-details {
    margin-top: 40px;
}

.order {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.order img {
    max-width: 150px;
    margin-right: 20px;
    margin-left: 5%;
}

.order .details {
    max-width: 400px; 
    margin-left: 20px;
}

.order .details p {
    margin: 10;
    text-align: left;
}
