body {
    font-family: Poppins, sans-serif;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ffffff;
    padding: 5px;
    display: flex;
    align-items: center;
}

.header img {
    max-height: 80px;
    max-width: 80px;
}

.header-title {
    flex-grow: 1;
    display: flex;
    align-items:center;
    justify-content:left;
}

.header-options {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

.header-options li {
    display: inline-table;
    margin-inline: 25px;
}

.header-options li a {
    text-decoration: none;
    color: #606c38;
}

.header-title h2 {
    font-size: 5px; 
    font-family: bosento light; 
    color: #FEFAE0;
    margin-left: 35px;
}

.tag-line {
    font-size: 45px; 
    font-family: bosento regular; 
    color: #606c38; 
    margin: 15px 0;
}

.cart-button {
    background-color: #ffffff;
    border:none;
    padding: 10px 10px;
    border-radius: 15px;
    color: #FEFAE0;
    cursor: pointer;
}

.accounts-button {
    background-image: url('Images/account.png');
    background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #fff;
    margin-right: 30px;
}

#content {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #283618;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #283618;
    color: #FEFAE0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.footer-section {
    text-align: left;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
    color: #d8a53f;
}

.horizontal-line {
    border-top: 2px solid #fefae0; 
    margin: 0px 0;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: #555; 
    margin-top: 20px;
}

.search-container {
    margin: 1px 0;
    display: flex;
    justify-content: center;
}

.search-box {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: width 0.3s;
    font-size: 13px;
}

.search-box:focus {
    width: 300px;
}

.search-button {
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d8a53f;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 15px;
    font-family: Poppins;
    font-weight: bold;
    margin-left: 20px;
}

.search-button:hover {
    transform: scale(1.1);
}

.search-box::placeholder {
    color: #ccc;
    font-size: 14px;
}

.banner-container {
    margin: 20px 0;
    text-align: center;
}

.banner {
    display: none;
    padding: 80px;
    background-color: #606C38;
    color: #FEFAE0;
    font-weight: bold; 
    border-radius: 0px;
}

.banner p {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: Poppins, sans-serif;
}

.banner strong {
    font-size: 60px; 
    font-weight: bold; 
    font-family: 'Poppins', serif;
    color: #d8a53f;
}

.banner-button {
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    background-color: #FEFAE0;
    color: #283618;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.banner-button:hover {
    background-color: #d8a53f;
}

.featured-products {
    margin-top: 50px;
    text-align: center;
font-family: poppins; 
    
    color: #283618; 
   
}

.featured-products h2 {
    font-size: 42px;
font-family: bosento regular; 
    margin-bottom: 40px;
}

.product {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.product img {
    max-width: 600px;
    border: 1px solid #fefae0;
    border-radius: 30px;
    
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product p {
    font-size: 16px;
}

.categories {
    text-align: center;
    margin: 20px 0;
}

.category-container {
    display: flex;
    overflow-x: scroll;
    justify-content: center;
    margin: 0 -10px;
    background-color: #fefae0;
}

.category {
    flex: 0 0 auto;
    margin: 0 10px; 
    text-align: center;
    margin-top: 20px;
}

.category img {
    max-width: 100px;
    border-radius: 50%; 
}

.category p {
    margin-top: 5px; 
}

.horizontal-line {
    border-top: 2.5px solid #ccc;
    margin: 20px 0;
}

.horizontal-line-thin {
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.popular-products {
    text-align: center;
    margin: 20px 0;
}

.product-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 2%;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 1%;
}

.product {
    flex: 0 0 45%;
    margin: 10px;
    text-align: center;
}

.product img {
    max-width: 250px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 20px;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product p {
    font-size: 16px;
}

.buy-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #283618;
    color: #fefae0; 
    border-radius: 5px;
    margin-top: 10px;
    transition: transform 0.3s; 
}

.buy-button:hover {
    background-color: #606C38; 
    transform: scale(1.1);
}

.subscribe {
    text-align: center;
    margin: 20px 0;
    margin-top: 40px;
}

.subscribe h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.subscribe-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.subscribe-form button {
    padding: 10px 20px;
    background-color: #606c38; 
    border: none;
    border-radius: 5px;
    color: #fefae0; 
    cursor: pointer;
}

.subscribe-form button:hover {
    background-color: #283618; 
}

.reviews {
    text-align: center;
    margin: 100px 100px;
    margin-top: 80px;
}

.review-container {
    display: flex;
    overflow: hidden;
}

.review-box {
    flex: 0 0 98%;
    padding: 20px;
    background-color: #FEFAE0;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    text-align: centre;
}

.user-info h3 {
    margin: 0 0 20px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-content {
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgb(153, 153, 153);
    text-align: left;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.logout-button {
    background-color: #d8a53f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #554302; 
}

.added-to-cart-message {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.product img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.category img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
